/* root fix */
#root {
  margin: 0;
  padding: 0;
}

/* splash fade out */
.fade-out {
  animation: fadeOut 0.7s ease forwards;
  pointer-events: none;
}

/* home fade in 🔥 */
.fade-in {
  animation: fadeIn 0.7s ease forwards;
}

/* animations */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}